# Binaries
*.exe

# Test binary
*.test

# Makefile in top-level directory
/Makefile

# Pin directory
Pins/

# Images
*.jpg
*.png
*.gif

# env file
.env

# json config
*.json

# archives
*.zip
*.rip
*.7z

*.ppdb
.vscode/